apiVersion: v1
kind: Namespace
metadata:
  name: signal

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: signal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: bbernhard/signal-cli-rest-api:0.91
        imagePullPolicy: Always
        env:
        - name: SIGNAL_CLI_CONFIG_DIR
          value: /signal
        - name: LOG_LEVEL
          value: debug
        - name: MODE
          # json-rpc
          value: json-rpc
        - name: JSON_RPC_IGNORE_ATTACHMENTS
          value: true
        ports:
        - name: api
          containerPort: 8080
        volumeMounts:
        - name: data
          mountPath: /signal
        livenessProbe:
          httpGet:
            path: /v1/health
            port: api
        readinessProbe:
          httpGet:
            path: /v1/health
            port: api
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: api

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: api
  namespace: signal
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 250M

---
apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: signal
spec:
  type: LoadBalancer
  selector:
    app: api
  ports:
  - name: api
    port: 80
    targetPort: api

