.vault_password
.venv

# external roles
ansible-role-*

newbots

roles*

k8s/dst

*.state

infra/.terraform*
localstack/.terraform*

test*

result

*secret.yaml

*.terraform*
terraform.tfstate*

k8s/clusters/*/secrets.yaml

k8s/kubeconfig

playbooks/garage.yml