Host kate
    HostName 192.168.100.10
    user riley

Host sbx0
  HostName 10.39.61.141
  user riley
  ProxyJump kate

Host droid
    HostName 192.168.100.11
    user root

Host indy
    HostName 192.168.100.12
    user pi

Host quill
    HostName 192.168.100.13
    user pi

## oracle

Host oc0
    HostName 192.168.100.1
    user ubuntu

Host oc1
    HostName 192.168.100.21
    user ubuntu

Host oc2
    HostName 192.168.100.22
    user ubuntu

Host oc3
    HostName 192.168.100.23
    user ubuntu

Host oc4
    HostName 192.168.100.24
    user ubuntu

Host oc5
    HostName 192.168.100.25
    user ubuntu

Host oc6
    HostName 192.168.100.26
    user ubuntu

Host oc7
    HostName 192.168.100.27
    user ubuntu

## ocean

Host do0
    HostName 192.168.100.60
    user root

Host do1
    HostName 192.168.100.61
    user root

Host do2
    HostName 192.168.100.62
    user root

Host do3
    HostName 192.168.100.63
    user root

Host do4
    HostName 192.168.100.64
    user root

Host 192.168.100.*
   StrictHostKeyChecking no
   UserKnownHostsFile=/dev/null
