Host oc0
  HostName 192.168.100.1
  user ubuntu

Host oc1
  HostName 192.168.100.21
  user ubuntu

Host oc2
  HostName 192.168.100.22
  user ubuntu

Host oc3
  HostName 192.168.100.23
  user ubuntu

Host oc4
  HostName 192.168.100.24
  user ubuntu

Host oc5
  HostName 192.168.100.25
  user ubuntu

Host oc6
  HostName 192.168.100.26
  user ubuntu

Host oc7
  HostName 192.168.100.27
  user ubuntu

Host topo
  HostName 192.168.100.5
  user riley

Host kate
  HostName 192.168.100.10
  user riley

Host droid
  HostName 192.168.100.11
  user root

Host indy
  HostName 192.168.100.12
  user pi

Host quill
  HostName 192.168.100.13
  user pi

Host *
   StrictHostKeyChecking no
   UserKnownHostsFile=/dev/null
