---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: sealed-secrets
  namespace: flux-system
spec:
  interval: 1h
  path: ./k8s/infrastructure/base/sealed-secrets
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cloudnative-pg
  namespace: flux-system
spec:
  interval: 1h
  path: ./k8s/infrastructure/base/cloudnative-pg
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metallb-system
  namespace: flux-system
spec:
  interval: 1h
  path: ./k8s/infrastructure/base/metallb-system
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: prometheus
  namespace: flux-system
spec:
  interval: 1h
  path: ./k8s/infrastructure/base/prometheus
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  patches:
    - patch: |
        - op: replace
          path: /spec/values/commonMetaLabels/cluster
          value: pve
        - op: replace
          path: /spec/values/server/service/type
          value: LoadBalancer
        - op: replace
          path: /spec/values/server/service/loadBalancerIP
          value: 192.168.252.253
        - op: add
          path: /spec/values/server/service/annotations/external-dns.alpha.kubernetes.io~1hostname
          value: prometheus-pve.r.ss
      target:
        kind: HelmRelease
        name: prometheus
        namespace: prometheus

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: sealed-secrets-secrets
  namespace: flux-system
spec:
  dependsOn:
    - name: sealed-secrets
  interval: 1h
  path: ./k8s/infrastructure/pve/secrets
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-dns
  namespace: flux-system
spec:
  dependsOn:
    - name: sealed-secrets-secrets
  interval: 1h
  path: ./k8s/infrastructure/base/external-dns
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metallb
  namespace: flux-system
spec:
  dependsOn:
    - name: metallb-system
  interval: 1h
  path: ./k8s/infrastructure/base/metallb
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  patches:
    - patch: |
        - op: replace
          path: /spec/addresses
          value:
          - 192.168.252.1-192.168.252.254
      target:
        kind: IPAddressPool
        name: local
        namespace: metallb-system

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  dependsOn:
    - name: metallb
  interval: 1h
  path: ./k8s/infrastructure/base/ingress-nginx
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  patches:
    - patch: |
        - op: replace
          path: /spec/values/controller/service/loadBalancerIP
          value: 192.168.252.254
      target:
        kind: HelmRelease
        name: ingress-nginx
        namespace: ingress-nginx

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: longhorn
  namespace: flux-system
spec:
  dependsOn:
    - name: sealed-secrets-secrets
  interval: 1h
  path: ./k8s/infrastructure/base/longhorn
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  patches:
    - patch: |
        - op: replace
          path: /spec/values/defaultBackupStore/backupTarget
          value: s3://longhorn@us-east-1/backups
        - op: add
          path: /spec/values/service/ui/type
          value: LoadBalancer
        - op: add
          path: /spec/values/service/ui/annotations/external-dns.alpha.kubernetes.io~1hostname
          value: longhorn-pve.r.ss
      target:
        kind: HelmRelease
        name: longhorn
        namespace: longhorn-system

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: longhorn-backups
  namespace: flux-system
spec:
  dependsOn:
    - name: longhorn
  interval: 1h
  path: ./k8s/infrastructure/pve/longhorn
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: nfs-subdir-external-provisioner
  namespace: flux-system
spec:
  interval: 1h
  path: ./k8s/infrastructure/base/sc-nfs
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  patches:
    - patch: |
        - op: add
          path: /spec/values/storageClass
          value: 
            reclaimPolicy: Retain
            pathPattern: "pve-${.PVC.namespace}-${.PVC.name}"
      target:
        kind: HelmRelease
        name: nfs-subdir-external-provisioner
        namespace: kube-system

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: tailscale
  namespace: flux-system
spec:
  dependsOn:
    - name: sealed-secrets-secrets
  interval: 1h
  path: ./k8s/infrastructure/base/tailscale
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  patches:
    - patch: |
        - op: add
          path: /spec/values
          value: 
            operatorConfig:
              defaultTags:
              - "tag:pve-k8s-operator"
              hostname: "pve-k8s-operator"
            proxyConfig:
              defaultTags: "tag:pve-k8s"
      target:
        kind: HelmRelease
        name: tailscale-operator
        namespace: tailscale

# ---
# apiVersion: kustomize.toolkit.fluxcd.io/v1
# kind: Kustomization
# metadata:
#   name: harness-delegate-ng
#   namespace: flux-system
# spec:
#   dependsOn:
#     - name: sealed-secrets-secrets
#   interval: 1h
#   path: ./k8s/infrastructure/base/harness
#   prune: true
#   sourceRef:
#     kind: GitRepository
#     name: flux-system
#   patches:
#     - patch: |
#         - op: replace
#           path: /spec/values/delegateName
#           value: pve
#         - op: replace
#           path: /spec/values/accountId
#           value: -N_5zBuvRm2gzVAaNZ64lQ
#         - op: replace
#           path: /spec/values/managerEndpoint
#           value: https://app.harness.io/gratis
#         - op: replace
#           path: /spec/values/delegateDockerImage
#           value: harness/delegate:25.10.86902
#       target:
#         kind: HelmRelease
#         name: harness-delegate-ng
#         namespace: harness-delegate-ng

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: harness-delegate-ng-work
  namespace: flux-system
spec:
  dependsOn:
    - name: sealed-secrets-secrets
  interval: 1h
  path: ./k8s/infrastructure/base/harness
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  patches:
    - patch: |
        - op: replace
          path: /spec/values/delegateName
          value: pve
        - op: replace
          path: /spec/values/tags
          value: build-farm,linux,homelab,proxmox
        - op: replace
          path: /spec/values/existingDelegateToken
          value: work-delegate-token
        - op: replace
          path: /spec/values/accountId
          value: wlgELJ0TTre5aZhzpt8gVA
        - op: replace
          path: /spec/values/managerEndpoint
          value: https://app.harness.io/gratis
        - op: replace
          path: /spec/values/delegateDockerImage
          value: us-docker.pkg.dev/gar-prod-setup/harness-public/harness/delegate:25.11.87202
      target:
        kind: HelmRelease
        name: harness-delegate-ng
        namespace: harness-delegate-ng
