apiVersion: v1
kind: Namespace
metadata:
  name: survivor-tracker

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: survivor-tracker
  namespace: survivor-tracker
  labels:
    app: survivor-tracker
data:
  config.toml: |
    [survivor]
    season = "49"

    [signal]
    api = "api.signal"
    number = "+14808407117"
    group = "group.ZTVTUzdvNjZSbGFsYTlrR1p0M21KbTQ3eFZNa2ZRWHMzZm1acFlnd1c1Yz0="

    [tautulli]
    api = "192.168.2.7:8181"

    [plex_users]
    "riley_snyder" = "Nicole and I"
    "hmfis" = "Hannah and Sweepy"
    "mose162" = "Hunter"
    "barry.sa" = "Barry and Marcin"

    [signal_players]
    "Hunter Moser" = "mose162"
    "Hannah Mortensen" = "hmfis"
    "Adam Mortensen" = "hmfis"
    "Marcin Mocarski" = "barry.sa"
    "Barry Mocarski" = "barry.sa"
    "Riley Snyder" = "riley_snyder"
    "Nicole Williams" = "riley_snyder"

    [database]
    host = "192.168.2.2"
    db = "survivor"
    user = "jeff"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: survivor-tracker
  namespace: survivor-tracker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: survivor-tracker
  template:
    metadata:
      labels:
        app: survivor-tracker
    spec:
      containers:
      - name: survivor-tracker
        image: rssnyder/survivor-tracker:3d56a3c5988317415bc69462d153edd888e95639
        imagePullPolicy: Always
        env:
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: survivor-tracker
              key: pgpassword
        volumeMounts:
        - name: config
          mountPath: /app/config.toml
          subPath: config.toml
        ports:
        - name: api
          containerPort: 7777
      - name: spoiler-timestamps
        image: rssnyder/survivor-tracker:df78fc8d1c34482110d63f66a77714db471d095e
        imagePullPolicy: Always
        command: ["python"]
        args: ["spoilers.py"]
        env:
        - name: LOGLEVEL
          value: DEBUG
        - name: WEBSOCKETS_MAX_LOG_SIZE
          value: '10000'
        - name: TAUTULLI_KEY
          valueFrom:
            secretKeyRef:
              name: survivor-tracker
              key: tautullipassword
        volumeMounts:
        - name: config
          mountPath: /app/config.toml
          subPath: config.toml
      volumes:
      - name: config
        configMap:
          name: survivor-tracker

---
apiVersion: v1
kind: Service
metadata:
  name: survivor-tracker
  namespace: survivor-tracker
  annotations:
    external-dns.alpha.kubernetes.io/hostname: survivor-tracker.r.ss
spec:
  type: LoadBalancer
  selector:
    app: survivor-tracker
  ports:
  - name: api
    port: 80
    targetPort: api
