s3.oca6.rileysnyder.dev {
    reverse_proxy localhost:9000
}

vscode.oca6.rileysnyder.dev {
    reverse_proxy hurley:6969
}

test.oca6.rileysnyder.dev {
    redir https://github.com/rssnyder
}

s3.rileysnyder.dev {
    reverse_proxy hurley:9000
}

dnd-generator.rileysnyder.dev {
    reverse_proxy dnd-generator:80
}