apiVersion: v1
kind: Namespace
metadata:
  name: garage

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: garage-config
  namespace: garage
data:
  garage.toml: |
    metadata_dir = "/data/meta"
    data_dir = "/data/data"
    
    replication_mode = "none"
    
    rpc_bind_addr = "[::]:3901"
    rpc_public_addr = "[::]:3901"
    rpc_secret = "changeme1234567890abcdefghijklmnopqrstuvwxyz"
    
    [s3_api]
    s3_region = "garage"
    api_bind_addr = "[::]:3900"
    root_domain = ".s3.g3.r.ss"
    
    [s3_web]
    bind_addr = "[::]:3902"
    root_domain = ".web.g3.r.ss"
    
    [admin]
    api_bind_addr = "[::]:3903"

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: garage
  namespace: garage
spec:
  serviceName: garage
  replicas: 1
  selector:
    matchLabels:
      app: garage
  template:
    metadata:
      labels:
        app: garage
    spec:
      containers:
      - name: garage
        image: dxflrs/garage:v1.0.1
        imagePullPolicy: IfNotPresent
        ports:
        - name: s3-api
          containerPort: 3900
        - name: rpc
          containerPort: 3901
        - name: web
          containerPort: 3902
        - name: admin
          containerPort: 3903
        volumeMounts:
        - name: garage-data
          mountPath: /data
        - name: garage-config
          mountPath: /etc/garage.toml
          subPath: garage.toml
        env:
        - name: RUST_LOG
          value: "garage=info"
  volumeClaimTemplates:
  - metadata:
      name: garage-data
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: proxmox-nfs
      resources:
        requests:
          storage: 50Gi

---
apiVersion: v1
kind: Service
metadata:
  name: garage-s3
  namespace: garage
  annotations:
    external-dns.alpha.kubernetes.io/hostname: g3.r.ss
spec:
  type: LoadBalancer
  selector:
    app: garage
  ports:
  - name: s3-api
    port: 3900
    targetPort: s3-api
  - name: admin
    port: 3903
    targetPort: admin

---
apiVersion: v1
kind: Service
metadata:
  name: garage-rpc
  namespace: garage
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: garage
  ports:
  - name: rpc
    port: 3901
    targetPort: rpc
