[Unit]
Description={{ item.key }}
Wants=basic.target
After=basic.target network.target
Before=sshd.service

[Service]
SyslogIdentifier={{ item.key  }}
StandardOutput=syslog
StandardError=syslog
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/etc/discord-stock-ticker/discord-stock-ticker -cache -managed -logLevel=1 -address={{ nebula_ip }}:{{ item.value }} -db=/etc/discord-stock-ticker/{{ item.key  }}.state {{ extra_dst_args }}
Restart=always

[Install]
WantedBy=multi-user.target
