[Unit]
Description={{ item.value.name }}
Wants=basic.target
After=basic.target network.target
Before=sshd.service

[Service]
SyslogIdentifier={{ item.value.name  }}
StandardOutput=syslog
StandardError=syslog
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/etc/discord-stock-ticker/discord-stock-ticker -address {{ interface }}:{{ item.value.port }} -cache
ExecStartPost=/etc/discord-stock-ticker/load /etc/discord-stock-ticker/{{ item.value.name  }}.db {{ interface }}:{{ item.value.port }} premium
Restart=always

[Install]
WantedBy=multi-user.target