---
version: "3"
services:

  solana-figment-rpc-endpoint-cors-gcr:
    build: appdata/solana-figment-rpc-endpoint-cors-gcr
    container_name: solana-rpc
    environment:
      FIGMENT_URL: https://solana--mainnet.datahub.figment.io/
      PORT: 8080
      FIGMENT_TOKEN: {{ figment_token }}

  potatoy-960310451953106964:
    # image: milktoastlab/solananftbot
    build: appdata/SolanaNFTBot
    environment:
      SOLANA_RPC: http://solana-rpc:8080
      SUBSCRIPTION_DISCORD_CHANNEL_ID: 960310451953106964
      SUBSCRIPTION_MINT_ADDRESS: 2JWRUKeQ2tvPJeMktystSWPk5kkhNnK3JWexYwUPy3WV
      DISCORD_BOT_TOKEN: {{ potatoy_6228e86ecb4ab77875a57c56_token }}

  potatoy-931127052394987553:
    # image: milktoastlab/solananftbot
    build: appdata/SolanaNFTBot
    environment:
      SOLANA_RPC: http://solana-rpc:8080
      SUBSCRIPTION_DISCORD_CHANNEL_ID: 931127052394987553
      SUBSCRIPTION_MINT_ADDRESS: 2JWRUKeQ2tvPJeMktystSWPk5kkhNnK3JWexYwUPy3WV
      DISCORD_BOT_TOKEN: {{ potatoy_6228e86ecb4ab77875a57c56_token }}
