[Unit]
Description={{ service_desc }}
AssertPathIsDirectory=/etc/{{ app_name }}

[Service]
Type={{ service_type }}
SyslogIdentifier={{ service_name }}
WorkingDirectory=/etc/{{ app_name }}
{% if service_binary.startswith('/') %}
ExecStart={{ service_binary }} {{ service_opts }}
{% elif service_binary != None %}
ExecStart=/etc/{{ app_name }}/{{ service_binary }} {{ service_opts }}
{% else %}
ExecStart=/etc/{{ app_name }}/{{ app_name }} {{ service_opts }}
{% endif %}
ExecReload=/bin/kill -HUP $MAINPID

{% if service_type != "oneshot" %}
Restart={{ service_restart }}
{% endif %}

{% if service_max_seconds %}
RuntimeMaxSec={{ service_max_seconds }}
{% endif %}

{% for item in service_env %}
Environment={{ item }}
{% endfor %}

{% if service_type == "oneshot" %}
ExecStartPost=/bin/sh /etc/systemd/metrics.sh {{ service_name }} {{ app_name }}
{% endif %}

[Install]
WantedBy=default.target