global:
  scrape_interval: 15s

scrape_configs:

# - job_name: discord
#   static_configs:
#   - targets:
#     - '192.168.0.11:8787'

- job_name: bot-manager
  static_configs:
  - targets:
    - '192.168.0.3:7777'

- job_name: keys
  static_configs:
  - targets:
    - '192.168.0.3:8235'

- job_name: ff
  static_configs:
  - targets:
    - '192.168.254.6:7000'

# - job_name: digitalocean
#   static_configs:
#   - targets:
#     - '192.168.0.11:8789'

- job_name: omada
  static_configs:
  - targets:
    - '192.168.0.3:9202'

- job_name: 'octoprint'
  scrape_interval: 5s
  metrics_path: '/plugin/prometheus_exporter/metrics'
  params:
    apikey: ['{{ octoprint_key }}']
  static_configs:
    - targets: ['192.168.0.36:80']

- job_name: plex
  static_configs:
  - targets:
    - '192.168.0.6:9487'

# - job_name: chihaya
#   static_configs:
#     - targets:
#       - '192.168.101.30:6880'

# - job_name: bigblackbox
#   static_configs:
#     - targets:
#       - '10.253.0.1:9100'

- job_name: pushgateway
  static_configs:
    - targets:
      - '192.168.0.3:9092'
  honor_labels: true

# - job_name: caddy
#   static_configs:
#     - targets:
#       - '192.168.0.11:2019'

- job_name: pihole
  static_configs:
  - targets:
    - '192.168.0.3:9617'

- job_name: qbittorrent
  static_configs:
  - targets:
    - '192.168.0.6:8119'

- job_name: zfs
  static_configs:
  - targets:
    - '192.168.0.6:9134'

- job_name: hurley_docker
  static_configs:
  - targets:
    - '192.168.0.3:9323'

- job_name: cornelius_docker
  static_configs:
  - targets:
    - '192.168.0.3:9323'

- job_name: tangle_volume_uniswap
  static_configs:
  - targets:
    - 'oca1:9924'

- job_name: tangle_tvl_uniswap
  static_configs:
  - targets:
    - 'oca1:9925'

- job_name: tangle_tvl_arrakis-finance
  static_configs:
  - targets:
    - 'oca1:9926'

- job_name: ff-relay-proxy
  static_configs:
  - targets:
    - '192.168.254.6:7000'
- job_name: ff-relay-proxy-read-replica
  static_configs:
  - targets:
    - '192.168.254.21:7000'

- job_name: 'pve'
  static_configs:
    - targets:
      - 192.168.0.4
  metrics_path: /pve
  params:
    module: [default]
  relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: 192.168.0.3:9221

- job_name: node
  static_configs:
{% for host in hostvars.items() %}
{% if 'tailscale_ip' in host[1] %}
  - targets: [ '{{ host[1]['tailscale_ip'] }}:9100' ]
    labels:
      instance: '{{ host[1]['inventory_hostname'] }}'
{% endif %}
{% endfor %}

- job_name: coingecko_cache
  static_configs:
{% for host in hostvars.items() %}
{% if 'tailscale_ip' in host[1] %}
  - targets: [ '{{ host[1]['tailscale_ip'] }}:6380' ]
    labels:
      instance: '{{ host[1]['inventory_hostname'] }}'
{% endif %}
{% endfor %}

- job_name: tickers
  static_configs:
{% for host in hostvars.items() %}
{% if 'tailscale_ip' in host[1] %}
{% if 'clients' in host[1] %}
{% for client in host[1]['clients'] %}
  - targets: [ '{{ host[1]['tailscale_ip'] }}:{{ host[1]['clients'][client] }}' ]
    labels:
      instance: '{{ host[1]['inventory_hostname'] }}'
      client: '{{ client }}'
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
