global:
  scrape_interval: 15s

scrape_configs:

- job_name: discord
  static_configs:
  - targets:
    - '192.168.0.61:8787'

- job_name: bot-manager
  static_configs:
  - targets:
    - '192.168.0.61:7777'

- job_name: digitalocean
  static_configs:
  - targets:
    - '192.168.0.61:8789'

- job_name: plex
  static_configs:
  - targets:
    - '192.168.0.61:9594'

- job_name: chihaya
  static_configs:
    - targets:
      - '192.168.101.30:6880'

- job_name: node
  static_configs:
{% for host in hostvars.items() %}
{% if 'nebula_ip' in host[1] %}
  - targets: [ '{{ host[1]['nebula_ip'] }}:9100' ]
    labels:
      instance: '{{ host[1]['inventory_hostname'] }}'
{% endif %}
{% endfor %}

- job_name: tickers
  static_configs:
{% for host in hostvars.items() %}
{% if 'nebula_ip' in host[1] %}
{% if 'clients' in host[1] %}
{% for client in host[1]['clients'] %}
  - targets: [ '{{ host[1]['nebula_ip'] }}:{{ host[1]['clients'][client]['port'] }}' ]
    labels:
      instance: '{{ host[1]['inventory_hostname'] }}'
      client: '{{ client }}'
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
