global:
  scrape_interval: 15s

scrape_configs:

- job_name: pushgateway
  static_configs:
    - targets:
      - '192.168.2.2:9092'
  honor_labels: true

- job_name: node
  static_configs:
{% for host in hostvars.items() %}
{% if 'tailscale_ip' in host[1] %}
  - targets: [ '{{ host[1]['tailscale_ip'] }}:9100' ]
    labels:
      instance: '{{ host[1]['inventory_hostname'] }}'
{% endif %}
{% endfor %}

- job_name: remote_clusters
  honor_labels: true
  honor_timestamps: true
  params:
    match[]:
    - '{job="prometheus"}'
    - '{job="kubernetes-apiservers"}'
    - '{job="kubennetes-nodes"}'
    - '{job="kubernetes-nodes-cadvisor"}'
    - '{job="kubernetes-service-endpoints"}'
    - '{job="kubernetes-service-endpoints-slow"}'
    - '{job="prometheus-pushgateway"}'
    - '{job="kubernetes-services"}'
    - '{job="kubernetes-pods"}'
    - '{job="kubernetes-pods-slow"}'
    - '{__name__=~"job:.*"}'
  scrape_interval: 30s
  scrape_timeout: 25s
  metrics_path: /federate
  scheme: http   #Depends on target endpoint http or https
  follow_redirects: true
  enable_http2: true
  static_configs:
  - targets:
    - {{ hostvars['oca3']['tailscale_ip'] }}:9090
    labels:
      cluster: oc
      environment: prod
  - targets:
    - 192.168.253.2:9090
    labels:
      cluster: micro
      environment: prod
  - targets:
    - 100.117.150.52:9090
    labels:
      cluster: oci23
      environment: prod

- job_name: b4w
  static_configs:
    - targets:
      - 'pop-os:8002'
