apiVersion: v1
kind: Namespace
metadata:
  name: tailscale

---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: tailscale
  namespace: tailscale
spec:
  interval: 5m
  url: https://pkgs.tailscale.com/helmcharts

---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
  namespace: tailscale
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: tailscale-operator
      version: "v1.90.8"
      sourceRef:
        kind: HelmRepository
        name: tailscale
      interval: 5m
