apiVersion: v1
kind: Namespace
metadata:
  name: tailscale

---
apiVersion: v1
kind: Secret
metadata:
  name: operator-oauth
  namespace: tailscale
stringData:
  client_id: {{ tailscale.client_id }}
  client_secret: {{ tailscale.client_secret }}

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: tailscale
  namespace: tailscale
spec:
  repo: https://pkgs.tailscale.com/helmcharts
  chart: tailscale-operator
  targetNamespace: tailscale
  valuesContent: |-
    operatorConfig:
      defaultTags:
      - "tag:{{ cluster_context}}-k8s-operator"
      hostname: "{{ cluster_context}}-k8s-operator"
    proxyConfig:
      defaultTags: "tag:{{ cluster_context}}-k8s"

---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: tailscale
  namespace: tailscale
spec:
  interval: 5m
  url: hhttps://pkgs.tailscale.com/helmcharts

---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
  namespace: tailscale
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: tailscale-operator
      version: "v1.90.8"
      sourceRef:
        kind: HelmRepository
        name: tailscale
      interval: 5m
