---
version: "3"
services:

  gluetun:
    image: qmcgaw/gluetun
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8888:8888/tcp
      - 8388:8388/tcp
      - 8388:8388/udp
      - 8475:8475 # qbt
    volumes:
      - $APPDATA/gluetun:/gluetun
    environment:
      VPN_SERVICE_PROVIDER: private internet access
      VPN_TYPE: openvpn
      OPENVPN_USER: "${VPN_USER}"
      OPENVPN_PASSWORD: "${VPN_PASS}"
      SERVER_REGIONS: Netherlands

  plex:
    image: linuxserver/plex:1.40.2
    container_name: plex
    restart: unless-stopped
    environment:
      PUID: 65534
      PGID: 1001
      VERSION: docker
    ports:
      - "32400:32400"
    volumes:
      - $APPDATA/plex:/config
      - /bucket/media:/media
      - /mnt/fake:/mnt/fake

  qbt:
    image: lscr.io/linuxserver/qbittorrent:4.6.3
    container_name: qbt
    network_mode: "service:gluetun"
    environment:
      PUID: 65534
      PGID: 1001
      UMASK: 000
      TZ: America/Chicago
      WEBUI_PORT: 8475
    volumes:
      - $APPDATA/qbt:/config
      - /mnt/fake/downloads:/downloads
      - /bucket/media/movies:/movies
      - /bucket/media/4k:/4k
      - /bucket/media/tv:/tv
      - /bucket/media/syndicated:/syndicated
      - /bucket/media/books:/books
      - /bucket/media/music:/music
      - /bucket/games:/games
      - /mnt/nvme:/nvme
    restart: unless-stopped

  deluge:
    image: linuxserver/deluge:2.1.1
    container_name: deluge
    restart: unless-stopped
    environment:
      PUID: 1000
      PGID: 1000
      TZ: America/Chicago
      VPN_ENABLED: "no"
    volumes:
      - $APPDATA/deluge:/config
      - /bucket/media/books:/downloads
    ports:
      - "8112:8112"
      - "8118:8118"
      - "58846:58846"
      - "58946:58946"

  qbt_exporter:
    image: esanchezm/prometheus-qbittorrent-exporter
    container_name: qbt_exporter
    restart: unless-stopped
    ports:
      - "8119:8119"
    environment:
      QBITTORRENT_HOST: "192.168.0.6"
      QBITTORRENT_PORT: 8475
      EXPORTER_PORT: 8119
      QBITTORRENT_USER: admin
      QBITTORRENT_PASS: "${QBITTORRENT_PASS}"
      VERIFY_WEBUI_CERTIFICATE: "false"

  sonarr:
    image: linuxserver/sonarr:4.0.1
    container_name: sonarr
    restart: unless-stopped
    environment:
      PUID: 65534
      PGID: 1001
      UMASK: 000
      TZ: America/Chicago
    volumes:
      - $APPDATA/sonarr:/config
      - /bucket/media/tv:/tv
      - /mnt/fake/downloads:/downloads
    ports:
      - 7002:8989

  radarr:
    image: linuxserver/radarr:5.2.6
    container_name: radarr
    restart: unless-stopped
    environment:
      PUID: 65534
      PGID: 1001
      UMASK: 000
      TZ: America/Chicago
    volumes:
      - $APPDATA/radarr:/config
      - /bucket/media/movies:/movies
      - /mnt/fake/downloads:/downloads
    ports:
      - 7003:7878

  prowlarr:
    image: linuxserver/prowlarr:develop
    container_name: prowlarr
    environment:
      PUID: 65534
      PGID: 1001
      TZ: America/Chicago
    volumes:
      - $APPDATA/prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped

  overseerr:
    image: linuxserver/overseerr
    container_name: overseerr
    environment:
      PUID: 1000
      PGID: 1000
      TZ: America/Chicago
    volumes:
      - $APPDATA/overseerr:/config
    ports:
      - 5055:5055
    restart: unless-stopped

  tautulli:
    image: linuxserver/tautulli:latest
    container_name: tautulli
    environment:
      PUID: 1000
      PGID: 1000
      TZ: America/Chicago
    volumes:
      - $APPDATA/tautulli:/config
    ports:
      - 8181:8181
    restart: unless-stopped

  tautulli-exporter:
    image: nwalke/tautulli_exporter
    container_name: tautulli-exporter
    environment:
      TAUTULLI_API_KEY: "${TAUTULLI_KEY}"
      TAUTULLI_URI: http://192.168.0.6:8181
    volumes:
      - $APPDATA/tautulli:/config
    ports:
      - 9487:9487
    restart: unless-stopped

  files:
    image: svenstaro/miniserve
    container_name: files
    restart: always
    environment:
      MINISERVE_PATH: /tmp
    volumes:
      - /bucket/media:/tmp/media
      - /mnt/fake/downloads:/tmp/downloads
    ports:
      - 8080:8080

  syncthing:
    image: linuxserver/syncthing:latest
    container_name: syncthing
    environment:
      PUID: 1000
      PGID: 1000
      TZ: America/Chicago
    volumes:
      - $APPDATA/syncthing:/config
      - /bucket/backup/syncthing:/data
    ports:
      - 8384:8384
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    restart: unless-stopped
  
  vhssnyder:
    image: linuxserver/emby:latest
    container_name: vhssnyder
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - vhssnyder:/config
      - /bucket/media/vhs/snyder:/data/movies
    ports:
      - 8096:8096
      - 8920:8920

  vhsbothwell:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: vhsbothwell
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
      # - JELLYFIN_PublishedServerUrl=192.168.0.5 #optional
    volumes:
      - jellyfinbothwell:/config
      - /bucket/media/vhs/bothwell:/data/vhs
      # - /path/to/movies:/data/movies
    ports:
      - 8097:8096
      # - 8920:8920 #optional
      - 7360:7359/udp #optional
      - 1901:1900/udp #optional
    restart: unless-stopped
  
  tdarr:
    image: ghcr.io/haveagitgat/tdarr:latest
    restart: unless-stopped
    ports:
      - 8265:8265 # webUI port
      - 8266:8266 # server port
    environment:
      TZ: America/Chicago
      PUID: 65534
      PGID: 1001
      UMASK_SET: 777
      serverIP: 192.168.0.6
      serverPort: 8266
      webUIPort: 8265
      internalNode: "true"
      inContainer: "true"
      ffmpegVersion: 6
      nodeName: cornelius
      # NVIDIA_DRIVER_CAPABILITIES: all
      # NVIDIA_VISIBLE_DEVICES: all
    volumes:
      - $APPDATA/tdarr/server:/app/server
      - $APPDATA/tdarr/configs:/app/configs
      - $APPDATA/tdarr/logs:/app/logs
      - /bucket/media:/media
      # - /transcode_cache:/temp
  
  zfs-metrics:
    image: matusnovak/prometheus-zfs:latest
    restart: unless-stopped
    privileged: true
    ports:
      - 9901:9901
  
  # delegate:
  #   image: harness/delegate:24.02.82304
  #   restart: unless-stopped
  #   environment:
  #     DELEGATE_NAME: cornelius
  #     NEXT_GEN: "true"
  #     DELEGATE_TYPE: "docker"
  #     ACCOUNT_ID: wlgELJ0TTre5aZhzpt8gVA
  #     LOG_STREAMING_SERVICE_URL: https://app.harness.io/gratis/log-service/
  #     MANAGER_HOST_AND_PORT: https://app.harness.io/gratis
  #     DELEGATE_TOKEN: "NmIzZjkzOTJmNWE4MDM3MzcyYzg2YzkwNmRkMTNjZTk="


volumes:
  jellyfin:
  jellyfinbothwell:
  bothwellvhs:
  vhssnyder:
