---
apiVersion: v1
kind: Namespace
metadata:
  name: longhorn-system
---
apiVersion: v1
kind: Namespace
metadata:
  name: tailscale
---
apiVersion: v1
kind: Namespace
metadata:
  name: harness-delegate-ng
---
apiVersion: v1
kind: Namespace
metadata:
  name: survivor-tracker
---
apiVersion: v1
kind: Namespace
metadata:
  name: csi-proxmox