rileysnyder.dev {
    respond "
contact
+---------+---------------------+
| website |       handle        |
+---------+---------------------+
| email   | rileysndr@gmail.com |
| github  | rssnyder            |
| linkdin | rileysnyder         |
| discord | jonesbooned#1111    |
| xbox    | jonesbooned         |
+---------+---------------------+

sites
+------------------+---------------------------------------------------------+--------+
|     service      |                           url                           | public |
+------------------+---------------------------------------------------------+--------+
| github           | DEAD code.rileysnyder.dev                               | true   |
| music playlists  | DEAD music.rileysnyder.dev                              | true   |
| send files       | send.k8s.rileysnyder.dev                                | true   |
| minecraft        | minecraft.rileysnyder.dev                               | true   |
| photos           | rssnyder.github.io/photos                               | true   |
| grafana          | metrics.rileysnyder.dev                                 | false  |
| object store     | s3.rileysnyder.dev                                      | false  |
| bulk storage     | files.rileysnyder.dev                                   | false  |
| plex requests    | requests.rileysnyder.dev                                | false  |
+------------------+---------------------------------------------------------+--------+
"
}

www.rileysnyder.dev {
    respond "
contact
+---------+---------------------+
| website |       handle        |
+---------+---------------------+
| email   | rileysndr@gmail.com |
| github  | rssnyder            |
| linkdin | rileysnyder         |
| discord | jonesbooned#1111    |
| xbox    | jonesbooned         |
+---------+---------------------+

sites
+------------------+---------------------------------------------------------+--------+
|     service      |                           url                           | public |
+------------------+---------------------------------------------------------+--------+
| github           | DEAD code.rileysnyder.dev                               | true   |
| music playlists  | DEAD music.rileysnyder.dev                              | true   |
| send files       | send.k8s.rileysnyder.dev                                | true   |
| minecraft        | minecraft.rileysnyder.dev                               | true   |
| photos           | rssnyder.github.io/photos                               | true   |
| grafana          | metrics.rileysnyder.dev                                 | false  |
| object store     | s3.rileysnyder.dev                                      | false  |
| bulk storage     | files.rileysnyder.dev                                   | false  |
| plex requests    | requests.rileysnyder.dev                                | false  |
+------------------+---------------------------------------------------------+--------+
"
}

s3.rileysnyder.dev {
    reverse_proxy 192.168.0.3:9000

    tls {
        dns digitalocean {{ digitalocean_token }}
    }
}

metrics.rileysnyder.dev {
    reverse_proxy 192.168.0.3:3000
}

files.rileysnyder.dev {
    reverse_proxy 192.168.0.6:8080
}

requests.rileysnyder.dev {
    reverse_proxy 192.168.0.6:5055
}

pushmetrics.rileysnyder.dev {
    reverse_proxy 192.168.0.3:9092
    basicauth * {
        metrics JDJhJDE0JHludWJMdXRJWk8yUGZFMkxvLnBSWC5aSUh4L2dGbXg4ckdDSjF0SFJhMjJHRTZURU5zN2Rx
    }
}

vscode.rileysnyder.dev {
    reverse_proxy 192.168.0.3:6969
}

dash.rileysnyder.dev {
    reverse_proxy 192.168.0.3:8364
}

plex.rileysnyder.dev {
    reverse_proxy 192.168.0.6:32400
}

vhsarchive.rileysnyder.dev {
    reverse_proxy 192.168.0.6:8096
}

bothwellarchive.rileysnyder.dev {
    reverse_proxy 192.168.0.6:8097
}

books.rileysnyder.dev {
    reverse_proxy 192.168.0.6:13378
}

registry.rileysnyder.dev {
    reverse_proxy 192.168.254.2
}

auth.rileysnyder.dev {
    reverse_proxy 192.168.254.2
}

harness.rileysnyder.dev {
    reverse_proxy 192.168.0.3:3001
}

*.k8s.rileysnyder.dev {
    reverse_proxy 192.168.254.2

    tls {
        dns digitalocean {{ digitalocean_token }}
    }
}

*.media.rileysnyder.dev {
    reverse_proxy 192.168.254.2

    tls {
        dns digitalocean {{ digitalocean_token }}
    }
}

*.app.rileysnyder.dev {
    reverse_proxy 192.168.254.2

    tls {
        dns digitalocean {{ digitalocean_token }}
    }
}

