apiVersion: v1
kind: Namespace
metadata:
  name: homeassistant

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: homeassistant
  namespace: homeassistant
spec:
  selector:
    matchLabels:
      app: homeassistant
  replicas: 1
  template:
    metadata:
      labels:
        app: homeassistant
    spec:
      nodeName: jack
      # hostNetwork: true
      containers:
      - name: home-assistant
        image: ghcr.io/home-assistant/home-assistant:2025.8
        # image: rssnyder/home-assistant:2025.1
        imagePullPolicy: Always
        env:
        - name: TZ
          value: America/Chicago
        #- name: PYTHONPATH
        # value: /config/deps
        ports:
        - name: web
          containerPort: 8123
        volumeMounts:
        - name: config
          mountPath: /config
        - name: usb
          mountPath: /dev/ttyUSB0
        securityContext:
          privileged: true
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: config
      # - name: config
      #   nfs:
      #     server: 192.168.2.6
      #     path: /bucket/k8s/lab/homeassistant
      - name: usb
        hostPath:
          path: /dev/ttyUSB0
      - name: sonoff
        hostPath:
          path: /dev/serial/by-id/usb-ITead_Sonoff_Zigbee_3.0_USB_Dongle_Plus_e8331dcab3a4ed118fbceba32981d5c7-if00-port0

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config
  namespace: homeassistant
spec:
  volumeName: pvc-ffe07a23-cc0b-44c6-bc6e-3ae60effb9ba
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 5Gi

---
apiVersion: v1
kind: Service
metadata:
  name: homeassistant
  namespace: homeassistant
  annotations:
    tailscale.com/expose: "true"
    tailscale.com/hostname: "homeassistant"
    external-dns.alpha.kubernetes.io/hostname: homeassistant.r.ss
spec:
  type: LoadBalancer
  selector:
    app: homeassistant
  ports:
  - name: http
    port: 80
    targetPort: web

# homeassistant-40411
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: homeassistant
  namespace: homeassistant
spec:
  ingressClassName: nginx
  rules:
    - host: ha.k8s.rileysnyder.dev
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name:  homeassistant
                port:
                  number: 80
