---
- name: backups
  hosts: zira
  become: yes

  tasks:

    - name: backup google drive to bucket
      shell:
        cmd: |
          rclone copy riley: /mass/backup/drive/
        
    - name: backup bucket to zaius
      shell:
        cmd: rsync -varP /mass/{{ item }}/ saywer:/pale/{{ item }}/
      loop:
      - backup
      - immich
      - media/vhs
      - media/books
      - media/cds
      - media/music
      - media/syndicated
      - media/cc

    - name: backup bucket to red
      shell:
        cmd: rsync -varP /mass/{{ item }}/ /red/{{ item }}/
      loop:
      - backup
      - immich
      - media/vhs
      - media/books
      - media/cds
      - media/music

    - name: backup immich to oca9=8
      shell:
        cmd: rsync -varP /mass/{{ item }}/ ubuntu@oca8:/backup/{{ item }}/
      loop:
      - immich
      - media/vhs
    - name: Send notifications via pushover.net
      community.general.pushover:
        msg: '{{ inventory_hostname }} backup complete'
        app_token: '{{ hurley.PUSHOVER_APP }}'
        user_key: '{{ hurley.PUSHOVER_USER }}'
      delegate_to: localhost
