---
- name: Install and configure Plex Media Server
  hosts: plex
  become: yes
  vars:
    plex_server_plex_version: "public"
    plex_server_plex_user: "plex"
    plex_server_plex_group: "plex"
    plex_server_firewall_enabled: false
  roles:
    - role: ome.nfs_mount
      nfs_share_mounts:
      - path: /mnt/bucket
        location: 192.168.2.6:/mass
      - path: /mnt/red
        location: 192.168.2.6:/red
      - path: /mnt/scratch
        location: 192.168.2.6:/scratch
    - role: khaosx.plex-server