---
- name: Generate promethus target config
  hosts: all
  become: yes

  tasks:

    - name: get tailscale ip
      set_fact:
        tailscale_ip={{ hostvars[inventory_hostname]['ansible_tailscale0']['ipv4']['address'] }}
    
    - name: copy targets config
      template: 
        src: targets.yml.j2
        dest: /etc/prometheus/scrape_configs/isengard.yml
        owner: riley
      when: inventory_hostname == 'prometheus.r.ss'
    
    - name: Reload prometheus configuration
      ansible.builtin.uri:
        url: "http://localhost:9090/-/reload"
        method: POST
        status_code: 200
        validate_certs: false
      when: inventory_hostname == 'prometheus.r.ss'