name: Run playbook

on: 
  workflow_dispatch:
    inputs:
      playbook:
        description: 'playbook to run'     
        required: true

jobs:
  run-playbook:
    concurrency: ansible
    runs-on: kate
    steps:

    - uses: actions/checkout@v2
    
    - name: Set up vault secret
      run: echo ${{ secrets.VAULT_PASSWORD }} | base64 -d > .vault_password
    
    - name: Install SSH key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SSH_KEY }}
        known_hosts: ${{ secrets.KNOWN_HOSTS }}
        config: ${{ secrets.CONFIG }}
        if_key_exists: replace

    - name: Set up Python 3
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    
    - name: Get pip cache dir
      id: pip-cache
      run: |
        echo "::set-output name=dir::$(pip cache dir)"
    
    - name: pip cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key: ${{ runner.os }}-pip
        restore-keys: ${{ runner.os }}-pip

    - name: Install ansible
      run: |
        sudo apt-add-repository ppa:ansible/ansible -y
        sudo apt update -y
        sudo apt install ansible -y
    
    - name: Run playbook
      run: |
        ansible-playbook -i hosts.yml \
          --vault-password-file .vault_password \
          playbooks/${{ github.event.inputs.playbook }}
